@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: rgb(13, 14, 14);
    color: rgb(185, 180, 180);
}
.hide{
    display: none;
}
.banner ul li a {
    color:rgba(0, 0, 0, 0.678)
}

.banner ul li a:hover{
    font-size: 1.5rem;
    color: rgb(253, 167, 7);
}


header{
    background: url("../assets/header.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content:"";
    background: rgb(193,149,37);
    background: linear-gradient(0deg, rgba(193,149,37,0.6404761733795081) 0%, rgba(193,149,37,0) 100%); 
}

.subHeader{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: transparent;
    position: sticky;
    top: 0;
}

.subHeader h2{
    margin-top: 1rem;
    font-family: 'Itim', cursive;
    z-index: 1000;
}

/* SVG ANIMATION*/

header .container{
    width: 100vw;
    height: 100vh;

}

#logo{    /*this is the centering using absolute positioning */
    position: absolute;
    left: 45%;
    top: 60%;
    transform: translate(-50%,-50%);
    z-index: 100;
}


/* Delay and stroke-dasharray, stroke-dashoffset features initialized in JS file*/
#logo path{  
    animation: anim-line 2s ease forwards;
}


@keyframes anim-line{
    to{
        stroke-dashoffset: 0;
    }
}

/*Cards*/

.card h5 {
    color: black;
}

.card .price{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: rgb(61, 60, 60);
}

.card .categoryContainer{
    display: flex;
    justify-content: flex-start;
    color: black;
    width: 50%;
    height: 80%;
    background-color: orange;
    border-radius: 5px;
}

.card .shopping{
    background-color: rgb(20, 31, 36);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 12rem;
    display: none !important;
    z-index: -1;
}

.card .shopping:hover > *{
    color: wheat;
    cursor: pointer;
}
.card:hover .shopping{
    display: flex !important;
}

.card .btn{
    color: gray;
    z-index: 1000;
}

.total-card{
    background-color: transparent;
    width: 100px;
    height: 100px;

    color: white;
    border-radius: 40%;
    position: relative;
}

#size{
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    border-radius: 40%;
    top: 0.5rem;
    right: 0.5rem;
    color: rgb(238, 127, 0);
    display: none;
    text-align: center;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



/*TABLE*/

section#card{
    background-color: white;
    margin-top: 5rem;
}
.table>thead>tr.names>th{
  border-bottom: 1px;
}
.table>tbody>tr.item>td{
  padding-bottom: 20px;
  padding-top: 20px;
  vertical-align: middle;
}
.table>tfoot>tr.no-border>td{
  border-top: 0 none;
  padding-top: 20px;
}
.img-product{
  padding-top: 20px;
}

.table img{
    margin-top: 2rem;
}

.search{
    z-index: 10000;
}

a>* {
    color: white;
}

#totalPrice{
    font-weight: bolder;
}

/* IMAGE MODAL*/
.card img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .card img:hover {opacity: 0.8;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 20%;
    height: 70%;
    /* object-fit: cover; */
    max-width: 700px;
   
    /* box-shadow: 5px 10px rgb(255, 174, 0); */
    box-shadow: 0 12px 15px -6px rgb(255, 166, 0);
  }
  
  .modal-content:hover{
      cursor: pointer;
  }
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
 }
}